# Created by .ignore support plugin (hsz.mobi)
.env
*.pycache
*.pyo
*.pyc
.idea
uploads/
env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
