packages:
  yum:
    git: []
    postgresql93-devel: []
container_commands:
  AddGlobalWSGIGroupAccess:
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
  Wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
