{% include "mainframe.html" %}
{% include "header.html" %}

  <link rel="stylesheet" type="text/css" href="css/talkstyle2.css">
  <style>.header_link li:nth-child(2) a{color:#ff2b06;}</style>
  <div class="container-fluid">
     <div class="row">
        <div class="col-xs-8 col-xs-offset-1 about_us_tag"> ABOUT US <img class="red_circle1"> </div>
     </div>
     <div class="row" style="margin-top: 4vw">
        <div class="col-xs-7 col-xs-offset-1">
           <p class="about_us_ted_tag">TED</p>
           <p class="about_us_ted_content text-justify">TED is a global non-profit organization to uphold the spirit of ‘Ideas Worth Spreading’. It was started in 1984 as a small conference bringing together people from three worlds: Technology Entertainment and Design, to talk about how their ideas were converging. The annual TED conference invites world’s leading thinkers and Doers. TED has been host to an illustrious repertoire of speakers including Bill Clinton, Al Gore, Gordon Brown, Billy Graham, Richard Dawkins, Richard Stallman, and Bill Gates</p>
        </div>
        <div class="col-xs-4"> <img class="about_us_speaker_img left" style="" src="img/_ClipGroup1_.png"> </div>
     </div>
  </div>
  <div class="container-fluid">
     <div class="row" style="margin-top: 7vw">
        <div class="col-xs-4"><img class="about_us_speaker_img right" src="img/tedx.png"></div>
        <div class="col-xs-7">
           <p class="about_us_ted_tag">TEDx</p>
           <p class="about_us_ted_content text-justify">TEDx is an independently organized TED event which helps communities enjoy a TED like experience, through live speakers and videos of TED talks. Extensively conducted by leading universities and organizations, TEDx events have seen incredible growth across the globe. A TEDx event aims to make great ideas accessible and spark conversation among the members of the audience. Idea-centric, crisp, 18-minute deliverances by eminent personalities from diverse fields inspire and educate alike. The breaks provide ample time to strike up conversations with other enthusiasts, paving the way for interesting discussions and varied perspectives.</p>
        </div>
     </div>
  </div>
  <div class="container-fluid">
     <div class="row" style="margin-top: 7vw">
        <div class="col-xs-7 col-xs-offset-1">
           <p class="about_us_ted_tag">TEDx IIT Roorkee</p>
           <p class="about_us_ted_content text-justify">TEDxIITRoorkee is organized by a group of enthusiasts who form a part of the Entrepreneurship Development Cell. The spirit of TED aligns closely with the main agenda of the EDC, which is to foster the spirit of entrepreneurship and innovation among the students of the campus. Since its inception in 2010, TEDxIITRoorkee has now become an annual event, playing host to a multitude of speakers from various walks of life. TEDxIITRoorkee boasts of an active following online, through its website and on various social media channels. The event will be organized on the 5th of March, 2017.</p>
        </div>
        <div class="col-xs-4"> <img class="about_us_speaker_img left" src="img/Group4.png"> </div>
     </div>
  </div>
  <div class="container-fluid">
     <div class="row">
        <div class="col-xs-8 col-xs-offset-1 about_us_tag" style="margin-top: 10vw"> TEAM <img class="red_circle1"> </div>
     </div>
     <div class="row team_row">
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team8.png">
              <div class="middle"> <a href="https://www.linkedin.com/in/siddhant-bhardwaj/" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/ASfunmaniac" target="_blank"> <img src="img/fb.png" class="linkedin-icon"> </a></div>
           </div>
           <p class="team_name">Siddhant Bhardwaj</p>
           <p class="team_section">Curator</p>
        </div>
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team7.png">
              <div class="middle"> <a href="" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/insanejil" target="_blank"> <img src="img/fb.png" class="linkedin-icon"> </a></div>
           </div>
           <p class="team_name">Sanjil Jain</p>
           <p class="team_section">Co-Curator</p>
        </div>
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team1.png">
              <div class="middle"> <a href="" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/rajpriye.siddharth" target="_blank"> <img src="img/fb.png" class="linkedin-icon"> </a></div>
           </div>
           <p class="team_name">Siddharth Rajpriye</p>
           <p class="team_section">Co-Curator</p>
        </div>
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team9.png">
              <div class="middle"> <a href="https://www.linkedin.com/in/vivek-anand-294076122/" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/profile.php?id=100003775046920" target="_blank"> <img src="img/fb.png" class="linkedin-icon"> </a></div>
           </div>
           <p class="team_name">Vivek Anand</p>
           <p class="team_section">Design Head</p>
        </div>
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team4.png">
              <div class="middle"> <a href="" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/sharatsoni" target="_blank"> <img src="img/fb.png" class="linkedin-icon"> </a></div>
           </div>
           <p class="team_name">Sharat Soni</p>
           <p class="team_section">Sponsorship Head</p>
        </div>
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team3.png">
              <div class="middle"> <a href="" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/iamAbhishek02" target="_blank"> <img src="img/fb.png" class="linkedin-icon"> </a></div>
           </div>
           <p class="team_name">Abhishek Gupta</p>
           <p class="team_section">Creative Operations Head</p>
        </div>
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team5.png">
              <div class="middle"> <a href="" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/profile.php?id=100010007162026" target="_blank"> <img src="img/fb.png" class="linkedin-icon"> </a></div>
           </div>
           <p class="team_name">Shreya Jain</p>
           <p class="team_section">Promotion Head</p>
        </div>
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team6.png">
              <div class="middle"> <a href="" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/muditbhutani8" target="_blank"> <img src="img/fb.png" class="linkedin-icon"> </a></div>
           </div>
           <p class="team_name">Mudit Bhutani</p>
           <p class="team_section">Speaker Relation's Head</p>
        </div>
        <div class="col-xs-6 col-sm-3">
           <div class="image_hover">
              <img class="team_img" src="img/team2.png">
              <div class="middle"> <a href="" target="_blank"> <img src="img/lk1.png" class="linkedin-icon"> </a> <a href="https://www.facebook.com/shantnu.patil.3" target="_blank"> <img src="img/fb.png" class="linkedin-icon" > </a></div>
           </div>
           <p class="team_name">Shantanu Patil</p>
           <p class="team_section">Online Sponsorship Head</p>
        </div>
     </div>
  </div>
  {% include "footer.html" %}
</body></html>
