{% load static %}
<footer>
   <script>(function(d, s, id){var js, fjs=d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk')); </script> <script>window.twttr=(function(d, s, id){var js, fjs=d.getElementsByTagName(s)[0], t=window.twttr ||{}; if (d.getElementById(id)) return t; js=d.createElement(s); js.id=id; js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e=[]; t.ready=function(f){t._e.push(f);}; return t;}(document, "script", "twitter-wjs")); </script> </script>
   <style>.twitter-share-button{opacity: 0 !important;}</style>
   <div class="row footer_partners" style="margin-top: 12vw;">
      <div class="col-sm-4 col-sm-offset-1 col-xs-offset-1">
         <div class="row partner_tag">PARTNERS</div>
         <div class=talkspartner_circle></div>
         <div class="row" style="margin-top: 10%;"><a href="/sponsors" class="button_partners">SHOW ALL PARTNERS</a></div>
      </div>
      <div class="col-sm-3 col-sm-offset-3 col-xs-offset-1 share_icons" style="margin-top:3%;">
         <div class="row footer_partners_share_page">SHARE THIS PAGE</div>
         <div class="row" style="margin-top: 23px;">
            <ul class="list-inline footer_partner_social_icons">
               <li data-href="" data-layout="button_count" data-size="small" data-mobile-iframe="true"> <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.tedxiitroorkee.com%2Findex.php"> <i class="fa fa-facebook footer_partner_icons_links"></i></a> </li>
               <li> <a href="https://www.linkedin.com/company/13283944/" target="_blank"> <i class="fa fa-linkedin footer_partner_icons_links"></i></a> </li>
               <li> <a href="https://twitter.com/TEDxIITRoorkee" target="_blank"> <i class="fa fa-twitter footer_partner_icons_links"></i></a> </li>
            </ul>
         </div>
      </div>
   </div>
   <script type="IN/Share" data-url="https://www.docconsult.co.in/doc_profile.php?id=<?php echo $_GET['id'];?>" data-counter="right"></script>
   <div class="row foot">
      <div class="col-sm-8 col-xs-12" style="margin-top: 20px; margin-bottom: 75px; ">
         <div class="col-sm-10 col-sm-offset-1">
            <div class="row foot_tedx">TED<sup>X</sup></div>
            <div class="row foot_tedx_content text-justify">TEDx is an independently organized TED event which helps communities enjoy a TED like experience, through live speakers and videos of TED talks. Extensively conducted by leading universities and organizations, TEDx events have seen incredible growth across the globe. A TEDx event aims to make great ideas accessible and spark conversation among the members of the audience. Idea-centric, crisp, 18-minute deliverances by eminent personalities from diverse fields inspire and educate alike. </div>
         </div>
      </div>
      <div class="col-sm-4 footer_bottom_links col-xs-12" style="margin-top: 40px; margin-bottom: 9.76vh; ">
         <div class="row foot_links">
            <div class="col-sm-3 col-sm-offset-1 col-xs-5 col-xs-offset-1 foot_links_speaker"><a href="/talks" class="speaker_link">SPEAKERS'17</a></div>
            <div class="col-sm-7 col-sm-offset-1 col-xs-5 col-xs-offset-1 foot_links_speaker"><a href="/talks" class="speaker_link">TALKS</a></div>
         </div>
         <div class="row foot_links">
            <div class="col-sm-3 col-sm-offset-1 col-xs-5 col-xs-offset-1 foot_links_speaker"><a href="/events/" class="speaker_link">EVENT'17</a></div>
            <div class="col-sm-7 col-sm-offset-1 col-xs-5 col-xs-offset-1 foot_links_speaker"><a href="/about/" class="speaker_link">ABOUT US</a></div>
         </div>
         <div class="row foot_links">
            <div class="col-sm-3 col-sm-offset-1 col-xs-5 col-xs-offset-1 foot_links_speaker"><a href="/" class="speaker_link">THEME'17</a></div>
            <div class="col-sm-7 col-sm-offset-1 col-xs-5 col-xs-offset-1 foot_links_speaker"><a href="/sponsors/" class="speaker_link">SPONSORS</a></div>
         </div>
         <div class="row foot_links">
            <div class="col-sm-3 col-sm-offset-1 col-xs-5 col-xs-offset-1 foot_links_speaker"><a href="/about/" class="speaker_link">TEAM'17</a></div>
            <div class="col-sm-7 col-sm-offset-1 col-xs-5 col-xs-offset-1 foot_links_speaker"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfqALs-nYWQ8nhDI6kYFw3KoqTsWJ0MDesUdQsXYy3mHQoMXQ/viewform?c=0&w=1" target="_blank" class="speaker_link">REGISTER</a></div>
         </div>
      </div>
   </div>
   <div class="row tedx_social_icons">
      <div class="col-sm-4 col-sm-offset-4 ">
         <div class="col-sm-2 col-xs-2"><a href="https://www.facebook.com/tedxiitr/" target="_blank"><i class="fa fa-facebook"></i></a></div>
         <div class="col-sm-2 col-xs-2"><a href="https://www.instagram.com/tedxiitroorkee/" target="_blank"><i class="fa fa-instagram"></i></a></div>
         <div class="col-sm-2 col-xs-2"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfqALs-nYWQ8nhDI6kYFw3KoqTsWJ0MDesUdQsXYy3mHQoMXQ/viewform?c=0&w=1" target="_blank"><i class="fa fa-envelope"></i></a></div>
         <div class="col-sm-2 col-xs-2"><a href="https://twitter.com/TEDxIITRoorkee" target="_blank"><i class="fa fa-twitter"></i></a></div>
         <div class="col-sm-2 col-xs-2"><a href="https://www.linkedin.com/company/13283944/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
         <div class="col-sm-2 col-xs-2"> <a href="https://www.youtube.com/results?search_query=tedx+iit+roorkee" target="_blank"><img src='{% static "img/tedxyoutube.svg" %}' style="height: 25px; width: 40px"></div>
      </div>
   </div>
</footer>
