<div class="navbar navbar-default header_box_shadow" id="header2">
   <div class="container-fluid">
      <div class="row navbar_width">
         <div class="col-sm-5"><a href="/"><img src="img/logo2.png" class="img-responsive header_logo1" style=""></a></div>
         <div class="col-md-7">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="collapse navbar-collapse navHeaderCollapse anim">
               <ul class=" header_link">
                  <li><a href="/">HOME</a></li>
                  <li><a href="/about/">ABOUT US</a></li>
                  <li><a href="/talks/">TALKS</a></li>
                  <li><a href="/events/">EVENTS</a></li>
                  <li><a href="/sponsors/">SPONSORS</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<style>.header_logo1{width: 14.72vw; margin-left: 6.875vw; margin-top: 5vh; margin-bottom: 5vh;}</style>
