{% load static %}
{% include "mainframe.html" %}
<style>#header2{display: none;}</style>
<div id="main">
   <div class="navbar navbar-default header" id="header1">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-5 header_logo"><img src='{% static "img/mainlogo.png" }' class="img-responsive header_logo1"></div>
            <div class="col-md-7">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"> <span class="icon-bar"></span> <span class="icon-bar"></span><span class="icon-bar"></span> <span class="icon-bar"></span></button>
               <div class="collapse navbar-collapse navHeaderCollapse">
                  <ul class="header_links">
                     <li class="active"><a href="#">HOME</a></li>
                     <li><a href="/about">ABOUT US</a></li>
                     <li><a href="/talks">TALKS</a></li>
                     <li><a href="/events">EVENTS</a></li>
                     <li><a href="/sponsors">SPONSORS</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="main_building_img_div"> <img src='{% static "img/img6.png" %}' class="main_building_img"></div>
   </div>
</div>
{% include "header.html" %}
<div class="container-fluid">
   <div class="row">
      <div class="col-md-6"> </div>
      <div class="col-md-5 main_text">
         <p class="tedx_tag">TEDX IIT ROORKEE PRESENTS</p>
         <p class="mustering-tag"><b>SYMPHONIC</b></p>
         <p class="muses-tag"><b>CHAOS</b></p>
         <p class="main_date">14<sup>th</sup> OCTOBER'17</p>
         <p class="main_location">MAC AUDITORIUM</p>
         <div class="mustering_circle"></div>
         <div class="row"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfqALs-nYWQ8nhDI6kYFw3KoqTsWJ0MDesUdQsXYy3mHQoMXQ/viewform?c=0&w=1" target="_blank"> <input type="button" name="" class="main_register_now" value="COMING SOON" disabled="disabled"> </a><a class="main_know_more" href="/about" style="text-decoration: none;">KNOW MORE</a> </div>
      </div>
   </div>
</div>
<style></style>
<div class="container-fluid">
   <div class="row headMargin">
      <div class="row theme_tag">THEME <img class="red_circle1"></div>
      <div class="row">
         <div class="col-xs-7 col-xs-offset-1">
            <div class="row">
               <div class="col-xs-11 theme_name"> <br>Symphonic Chaos</div>
               <div class="col-xs-6"></div>
            </div>
            <div class="row">
               <div class="col-xs-9 col-xs-offset-0 theme_content text-justify"> <br>The theme for TEDxIITRoorkee 2017 is symphonic chaos. The theme underlines the beauty of spont,the 'chaos' and how an unorderly universe is the reason for our very existence. The fundamentalism of the idea of chaos is the real beauty itself, thus giving birth to the notion of 'perfectly imperfect'life. In our real world, it is because of this unpredictability that opportunities arise, through which success is achieved.</div>
            </div>
         </div>
         <div class="col-xs-4"><img class="theme_img" src='{% static "img/Group4.png" %}'></div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row speaker_tag">
      <div class="colxs-6 col-sm-offset-1 ">PREVIOUS SPEAKERS<img class="red_circle3"></div>
   </div>
   <div class="row">
      <ul class="nav nav-tabs tab_list" role="tablist" style="border: none;text-align: center;">
         {% for speaker in speakers %}
         <li role="presentation"
         {% if forloop.counter < 2 %} class = "active" {%endif%}
          style="float:none;display:inline-block;">
            <div style="text-align: center;" data-toggle="tab" href="#speaker{{ forloop.counter }}" class="tab{{ forloop.counter }}">
               <img class="speakers_tab_img" src='{{speaker.profile_pic.url}}' id="image{{ forloop.counter }}" onmouseover="in{{ forloop.counter }}()" onmouseout="out{{ forloop.counter }}()">
               <p class="speaker_tab_name" id="image{{ forloop.counter }}_name" {% if forloop.counter < 2 %} style="color: #ff2b06" {%endif%}>{{speaker.name}}</p>
            </div>
         </li>
         {% endfor %}
      </ul>
      <div class="tab-content">
         {% for speaker in speakers %}
         <div id="speaker{{ forloop.counter }}" class="tab-pane fade in {% if forloop.counter < 2 %} active {%endif%}">
            <div class="row" style="margin-top: 50px">
               <div class="col-xs-4"><img src='{{speaker.profile_pic.url}}' class="speaker_image"></div>
               <div class="col-xs-8">
                  <div class="row">
                     <div class="col-xs-10 speaker_NAME">
                        {{speaker.name}}
                        <p class="speaker_JOB">{{speaker.designation}}</p>
                     </div>
                     <div class="col-xs-6"></div>
                  </div>
                  <div class="row">
                     <div class="col-xs-10 col-xs-offset-0 speaker_CONTENT text-justify"> <br>{{speaker.about}}</div>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% include "footer.html" %}
</body> </html>
