{% load static %}
{% include "mainframe.html" %}
{% include "header.html" %}

<link rel="stylesheet" type="text/css" href="css/talkstyle.css">
<style>.header_link li:nth-child(5) a{color:#ff2b06;}</style>
<div class="container-fluid" >
   <div class="row">
      <div class="col-xs-5 spons_tag" style="margin-left: 11vw"> SPONSORS <img class="red_circle2"> </div>
      <div class="col-xs-6"> </div>
   </div>
   <div class="row"> <img src='{% static "img/spon1.png" %}' class="spon_image" style="margin-left: 12.15vw" > <img src='{% static "img/spon2.png" %}' class="spon_image" style="margin-left: 6.59vw"> <img src='{% static "img/spon3.png" %}' class="spon_image" style="margin-left: 6.59vw "> </div>
   <div class="row"> <img src='{% static "img/spon4.png" %}' class="spon_image" style="margin-left: 12.15vw" > <img src='{% static "img/spon5.png" %}' class="spon_image" style="margin-left: 6.59vw"> <img src='{% static "img/spon11.png" %}' class="spon_image" style="margin-left: 6.59vw "> </div>
   <div class="row"> <img src='{% static "img/spon12.png" %}' class="spon_image" style="margin-left: 12.15vw" > </div>
</div>
{% include "footer.html" %}
 </body> </html>
