{% load static %}
{% include "mainframe.html" %}
{% include "header.html" %}

<link rel="stylesheet" type="text/css" href="css/talkstyle.css">
<style>.header_link li:nth-child(5) a{color:#ff2b06;}</style>
<div class="container-fluid" >
   <div class="row">
      <div class="col-xs-5 spons_tag" style="margin-left: 11vw"> SPONSORS <img class="red_circle2"> </div>
      <div class="col-xs-6"> </div>
   </div>
    {% for sponsor in sponsors %}
    {% cycle '<div class="row">' '' '' %}<img src='{{sponsor.image.url}}' class="spon_image" style="margin-left: "{% cycle '12.15vw' '6.59vw' '6.59vw'%}" />{% cycle '' '' '</div>'%}
    {% endfor %}
</div>
{% include "footer.html" %}
 </body> </html>
