{% include "mainframe.html" %}
{% include "header.html" %}
{% load static %}

<style>.header_link li:nth-child(3) a{color: #ff2b06;}</style>
<style></style>
<div class="container-fluid">
   <div class="row">
      <div class="col-xs-8 col-xs-offset-1 events_tag"> TALKS <img class="red_circle1"> </div>
      <div class="col-xs-6"> </div>
   </div>
   <div class="row">
      <div class=" col-md-4 col-md-offset-1 tedxIITRoorkee_tag" > TEDx IIT ROORKEE 2017 </div>
      <div class=" col-md-5 col-md-offset-1 col-xs-9 col-xs-offset-2 calendar_calendar">
         <div class="calendar_border">
            <div class="row">
               <div class="col-xs-1"> <a href="#" class="next1"> <i class="fa fa-caret-left arrow1" aria-hidden="true" ></i> </a> </div>
               <ul class=" calendar1 col-xs-10" role="tablist">
                  {% for year in list_of_speakers.keys %}
                  <li class="active" ><a data-toggle="tab" class="year" href="#{{year.year}}">{{year.year}}</a></li>
                  {% endfor %}
               </ul>
               <div class="col-xs-1"> <a href="#" class="next2"> <i class="fa fa-caret-right arrow2" aria-hidden="true" onclick="showDivs(-1)"></i> </a> </div>
            </div>
         </div>
      </div>
      <div class="tab-content">
      {% for year,speakers in list_of_speakers.items %}
         <div id="{{year.year}}" class="tab-pane fade in active">
         {% for speaker in speakers %}
            <div class="row container_speaker smallDiv" onmouseover="hoverimagein()" onmouseout="hoverimageout()" style="">
               <div class="col-sm-11 .col-xs-offset-3">
                  <div class="col-sm-3 col-xs-3 speaker_image_image_1"> <img src='{{speaker.profile_pic.url}}' class="speaker_img" id="sushu_image"> </div>
                  <div class="col-sm-9 col-xs-12 speaker_shadow speaker_container_div speaker_container_div_div1">
                     <div class="col-sm-3 col-xs-1 speaker_image_1"> <img src='{{speaker.profile_pic.url}}' class="speaker_img" id="sushu_image"> </div>
                     <div class="col-xs-9 abcdfe">
                        <div class="row speaker_naming_row">
                           <div class="col-sm-6 col-xs-11" style=" white-space: nowrap;">
                              <p class="speaker_name" id="speaker_name1"><span class="vivek_anand" style="font-size:4.65vw;">{{speaker.name}}</span></p>
                              <p class="speaker_job head_design" id="speaker_job1"><span class="head_design">{{speaker.designation}}</span></p>
                           </div>
                           <div class="col-xs-9">
                              <ul class="list-inline social_icons social_icons_icons">
                                 <li id="fb_speaker1" class="social_links"> <a href="tedx.htm"> <i class="fa fa-facebook social_icons_links"></i></a> </li>
                                 <li id="linkedin_speaker1" class="social_links"> <a href="tedx.htm"> <i class="fa fa-linkedin social_icons_links"></i></a> </li>
                                 <li id="twitter_speaker1" class="social_links"> <a href="tedx.htm"> <i class="fa fa-twitter social_icons_links"></i></a> </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-10 speaker_content speaker_content_content_1"> {{speaker.about}} </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class=" container largeDiv">
               <div class="row ">
                  <div class="col-xs-9 col-xs-offset-0 ">
                     <div class="row speaker_shadow speakerDiv bdiv">
                        <div class="col-xs-9 ">
                           <div class="row ">
                              <div class="col-xs-6 speakerName " >
                                 {{speaker.name}}
                                 <p class="speakerJOB ">{{speaker.designation}}</p>
                              </div>
                              <div class="col-xs-6 ">
                                 <ul class="list-inline socialLink social_icons social_icons_icons ">
                                    <li id="fb_speaker1 " class="social_links " ><a href="tedx.htm " > <i class="fa fa-facebook social_icons_links social_links "></i></a></li>
                                    <li id="linkedin_speaker1 " class="social_links " ><a href="tedx.htm " > <i class="fa fa-linkedin social_icons_links social_links "></i></a></li>
                                    <li id="twitter_speaker1 " class="social_links " ><a href="tedx.htm " > <i class="fa fa-twitter social_icons_links "></i></a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-xs-10 speakerContent " >{{speaker.about}}</div>
                        </div>
                        <div class="col-xs-3 "><img src='{% static "img/Group32a.png "%}'  class="speakerImg2 " id="sushuImage " ></div>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
            </div>
            {% endfor %}

   </div>
</div>
</div>
<style>.calendar1{/*margin: 0 5% 0 -6%*/}.calendar1 li{list-style-type: none; display: inline;}.calendar1 li a{text-decoration: none; font-size: 1.5vw; color: var(--red-orange); padding-left: 2vw;}.calendar1 li a:hover{color: #ff2b06; opacity: 1}</style>
<script>var slideIndex=1; showDivs(slideIndex); function plusDivs(n){showDivs(slideIndex +=n);}function showDivs(n){var i; var x=document.querySelectorAll("calendar1"); if (n > x.length){slideIndex=1;}if (n < 1){slideIndex=1;}for (i=0; i < 6; i++){x[i].style.display="none";}for (var j=0; j < 6; j++){x[slideIndex + j].style.display='inline';}}</script> </div>{% include "footer.html" %}
</div></body></html>
